.terminal {
    font-family: "Courier New", Courier, monospace;
    color: #141412;
    min-height: 230px;
    width: 100%;
    display: none;
}
.term-history {
    height:190px; /* header height minus input height */
    overflow-y:auto;
}
.term-input {
    border: 0 !important;
    width: calc(100% - 85px); /* subtract prompt width */
    overflow-x: hidden;
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    padding: 0;
}
.term-toggle-link {
    position: absolute;
    right: 3px;
    top: 3px;
    font-family: "Courier New", Courier, monospace;
    color: #FFF;
    background-color: #000;
    padding: 2px 5px;
}
